body {
  margin: 0;
  font-family: 'Public Sans', 'Helvetica Neue', 'Open Sans', 'Arial', 'Verdana',
    'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
}

code {
  font-family: 'Roboto Mono', 'Courier New', monospace;
}
